/*-- scss:defaults --*/

//COLORS
$light-cream: #F8F4EA;
$dark-cream: #E1D7C6;
$polenta: #FFDCA9;
$charcoal: #181D31;


//BASE COLOURS
$body-bg: $light-cream;
$navbar-bg: $dark-cream;
$link-color: $polenta;
$body-color: $charcoal;